<div *ngIf="pokemonFetched">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image [src]="pokemonDetails.image">
      </div>
      <mat-card-title>{{pokemonDetails.name | titlecase}}</mat-card-title>
      <mat-card-subtitle>
        <li *ngFor="let type of pokemonDetails.types">
          {{type | titlecase}}
        </li>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Moves
            </mat-panel-title>
          </mat-expansion-panel-header>
          <li *ngFor="let move of pokemonDetails.moves">
            {{move}};
          </li>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
