<mat-card>
  <div class="customFlexContainer">
    <div>
      <mat-form-field>
        <mat-icon matSuffix (click)="searchBy()">search</mat-icon>
        <mat-label>Search by name</mat-label>
        <input matInput placeholder="Ex. Pikachu" [(ngModel)]="searchValue">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Search by types</mat-label>
        <mat-select [(value)]="selectedPokemonTypes" multiple>
          <mat-option *ngFor="let type of pokemonTypes" [value]="type">{{type | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="sortBy()" [(value)]="sortOption">
          <mat-option *ngFor="let option of sortOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="customFlexContainer">
    <div>
      <button mat-mini-fab>
        <mat-icon (click)="setOffset(-20)">chevron_left</mat-icon>
      </button>
    </div>
    <div *ngIf="offset + 20 <= pokemonCount">
      {{offset}}-{{offset + 20}}  of {{pokemonCount}}
    </div>
    <div *ngIf="offset + 20 > pokemonCount">
      {{offset}}-{{pokemonCount}}  of {{pokemonCount}}
    </div>
    <div>
      <button mat-mini-fab>
        <mat-icon (click)="setOffset(20)">chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<mat-grid-list [cols]="gridBreakpoint" rowHeight="100px" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let tile of PokeListTiles" [colspan]="tile.cols" [rowspan]="tile.rows"
    [style.background]="tile.color">
    <app-pokemon [pokemonName]="tile.text"></app-pokemon>
  </mat-grid-tile>
</mat-grid-list>